# Python
__pycache__/
*.pyc
venv/
.env

# Data and Outputs
chicken_curry/
food-101/
*.zip
food-101.zip
__MACOSX/

debug_steps/
outputs/
output_images/
images/
input_images/class_subset/*
benchmark_results_averaged.csv
image_count_analysis.csv
benchmark_plot.png

# Temporary test outputs
test_output.jpg
test_output_phase1.jpg
*_output*.jpg
plots/
